Note that this version is version one and it contains both codes of version two and version three so if you are not careful here it will not work with you but for sure version two and version three will work and this is what you want.

In [9]:
def read_books(book_titles):
  import nltk
  # nltk.download('gutenberg') # uncomment this line in the first run to download the books into the environemt of colab
  books = []
  for title in book_titles:
    try:
      books.append(list(nltk.corpus.gutenberg.words(title)))
    except:
      raise Exception('This book does not exist! Please try again!')
  return books

In [10]:
def clean_books(books):
  b_count = len(books)
  for b_indx in range(b_count):
    w_count = len(books[b_indx])
    for w_indx in range(w_count):
      books[b_indx][w_indx] = ''.join(ch for ch in books[b_indx][w_indx] if ch.isalnum())

  for b_indx in range(b_count):
    books[b_indx] = [wrd for wrd in books[b_indx] if wrd!='']

In [11]:
def random_indx(book):
  import random
  indx = []
  for i in range(0,200):
    n = random.randint(1,len(book)-101)
    indx.append(n)
  return indx

In [12]:
def get_columns(books, book_titles):
  paragraphs = []
  for book in books:
    indx = random_indx(book)
    for i in indx:
      paragraphs.append(book[i:i+100])

  names = []
  for i in range(len(books)):
    for j in range(200):
      names.append(book_titles[i][:-4])
  
  return paragraphs, names

In [13]:
def serialize(paragraphs, names):
  import pandas as pd
  df = pd.DataFrame()
  df['words'] = paragraphs
  df['paragraph'] = df['words'].apply(lambda x:' '.join(x))
  df['book_name'] = names
  return df

In [14]:
def text_data_partitioning(book_titles):
  try:
    books = read_books(book_titles)
  except Exception as e:
    print(e)
    return
  clean_books(books)
  paragraphs, names = get_columns(books, book_titles)
  df = serialize(paragraphs, names)
  return df

In [15]:
book_titles = ['austen-emma.txt', 'shakespeare-caesar.txt', 'whitman-leaves.txt']
df = text_data_partitioning(book_titles)
df

,words,paragraph,book_name
0,"[Cole, I, really, was, ashamed, to, look, at, ...",Cole I really was ashamed to look at our new g...,austen-emma
1,"[I, have, hardly, any, uneasiness, about, it, ...",I have hardly any uneasiness about it Either b...,austen-emma
2,"[was, yet, able, to, shew, a, most, happy, cou...",was yet able to shew a most happy countenance ...,austen-emma
3,"[not, really, the, least, inclination, to, giv...",not really the least inclination to give up th...,austen-emma
4,"[worst, sort, of, companion, that, Emma, could...",worst sort of companion that Emma could possib...,austen-emma
...,...,...,...
595,"[kings, But, the, sweetness, of, mercy, brew, ...",kings But the sweetness of mercy brew d bitter...,whitman-leaves
596,"[that, scull, d, him, from, the, sloop, now, h...",that scull d him from the sloop now held in le...,whitman-leaves
597,"[I, advance, personally, solely, to, you, Came...",I advance personally solely to you Camerado th...,whitman-leaves
598,"[aspiration, form, in, close, ranks, They, deb...",aspiration form in close ranks They debouch as...,whitman-leaves
599,"[singing, of, the, mother, or, of, the, young,...",singing of the mother or of the young wife at ...,whitman-leaves

In [ ]:
# nltk.corpus.gutenberg.fileids() #this line of code displayes names of the books we can get